{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interviews list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
            <tr>
                <td><a href="{{ path('interview_show', { 'id': interview.id }) }}">{{ interview.id }}</a></td>
                <td>{% if interview.date %}{{ interview.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('interview_show', { 'id': interview.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('interview_edit', { 'id': interview.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interview_new') }}">Create a new interview</a>
        </li>
    </ul>
{% endblock %}
