{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interview</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interview.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if interview.date %}{{ interview.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interview_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('interview_edit', { 'id': interview.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
